---
title: Paris properties for sale
---

.container-fluid.banner-header
  .row.height-100
    .col-md-12.height-100
      %hgroup.center.white
        %h1.text-center.text-uppercase.mt-0 Paris properties
        %h2.text-center.text-uppercase.mt-0 for sale
      %img.arrow-bottom{:src => image_path('arrow-bottom.svg'), :width => "6", :alt => ""}



%section.pb-80
  .container
    .row.mb-40
      .col-md-6.col-lg-5.description.white
        %h2.text-uppercase Looking to buy an apartment in Paris?
        %p
          Whether you are looking for a pied a terre, a family home or simply just to invest, look no further. As estate agents based in
          = succeed "," do
            %strong central Paris
        %p
          Sextant France, part of the Sextant Group, is a
          %strong fully registered estate   agency in Paris.
          This is important as all agents in France are highly regulated, inspected & have to provide proof of liability insurance, insurance for clients’ deposits and work to strictly laid down legislation.
        %p
          Register your interest now to view our online properties and have access to our portfolio of
          %strong 1,300 off the market exclusive mandate properties
          through the AMEPI network (151 estate agencies in Paris).
      .col-md-6.col-lg-offset-1.img-header
        %img.img-responsive{:src => image_path('img-bed.png'), :srcset => " #{image_path('img-bed@2x.png')} 2x, #{image_path('img-bed.png')} 1x", :alt => ""}/


  .container
    .row.mt-80
      .col-md-10.col-md-offset-1.map
        %h2.text-uppercase.title-map Areas we cover
        %img.img-responsive{:src => image_path('map.png'), :srcset => " #{image_path('map@2x.png')} 2x, #{image_path('map.png')} 1x", :alt => ""}/


%section#Properties.pt-40.pb-80
  .container
    .row
      .col-md-12
        %h1.text-center.text-uppercase Example properties

        %img.img-responsive.m-a.mt-40.mb-80{:src => image_path('divider.png'), :srcset => " #{image_path('divider@2x.png')} 2x, #{image_path('divider.png')} 1x", :alt => ""}/

      .clearfix

      .col-md-5.col-md-offset-1.col-xs-6
        %h2.price 150.000€
        .panel-apartment
          %img.img-responsive{:src => image_path('apartment.png'), :srcset => " #{image_path('apartment@2x.png')} 2x, #{image_path('apartment.png')} 1x", :alt => ""}/
          .panel-apartment-inner
            %h3 Paris
            %p 1 rue de Bercy, 75006
          .panel-apartment-footer
            .row
              .col-md-8.col-lg-7
                %ul.list-inline.list-room
                  %li
                    %img.mr-5{:src => image_path('icon-bed.svg'), :width => "20", :alt => ""}
                    2 Beds
                  %li
                    %img.mr-5{:src => image_path('icon-bath.svg'), :width => "20", :alt => ""}
                    1 Bath

              .col-md-4.col-lg-5
                %a.btn.btn-default.btn-st.btn-block{:href => "/"}
                  View
                  %img.hidden-md.ml-15{:src => image_path('long-arrow-right.svg'), :style => "margin-bottom: 3px;", :width => "25", :align => "middle", :alt => ""}

      .col-md-5.col-xs-6
        %h2.price 150.000€
        .panel-apartment
          %img.img-responsive{:src => image_path('apartment.png'), :srcset => " #{image_path('apartment@2x.png')} 2x, #{image_path('apartment.png')} 1x", :alt => ""}/
          .panel-apartment-inner
            %h3 Paris
            %p 1 rue de Bercy, 75006
          .panel-apartment-footer
            .row
              .col-md-8.col-lg-7
                %ul.list-inline.list-room
                  %li
                    %img.mr-5{:src => image_path('icon-bed.svg'), :width => "20", :alt => ""}
                    2 Beds
                  %li
                    %img.mr-5{:src => image_path('icon-bath.svg'), :width => "20", :alt => ""}
                    1 Bath

              .col-md-4.col-lg-5
                %a.btn.btn-default.btn-st.btn-block{:href => "/"}
                  View
                  %img.hidden-md.ml-15{:src => image_path('long-arrow-right.svg'), :style => "margin-bottom: 3px;", :width => "25", :align => "middle", :alt => ""}

%section#EndContent
  .container
    .row
      .col-md-5.pt-40.pr-80.pb-80
        %h1.text-uppercase.mb-40 Testimonies
        .owl-carousel.owl-theme
          .item
            %p
              %em Dear Salah, Peter and I just wanted to thank you for your help and advice in our search for a Pied a Terre in Paris. Your local knowledge has been invaluable, and I would happily recommend your service to anyone. Thanks again for everything and keep up the good work!
            %p Margaret & Peter R.
          .item
            %p
              %em Dear Salah, Peter and I just wanted to thank you for your help and advice in our search for a Pied a Terre in Paris. Your local knowledge has been invaluable, and I would happily recommend your service to anyone. Thanks again for everything and keep up the good work!
            %p Margaret & Peter R.
          .item
            %p
              %em Dear Salah, Peter and I just wanted to thank you for your help and advice in our search for a Pied a Terre in Paris. Your local knowledge has been invaluable, and I would happily recommend your service to anyone. Thanks again for everything and keep up the good work!
            %p Margaret & Peter R.
          .item
            %p
              %em Dear Salah, Peter and I just wanted to thank you for your help and advice in our search for a Pied a Terre in Paris. Your local knowledge has been invaluable, and I would happily recommend your service to anyone. Thanks again for everything and keep up the good work!
            %p Margaret & Peter R.
          .item
            %p
              %em Dear Salah, Peter and I just wanted to thank you for your help and advice in our search for a Pied a Terre in Paris. Your local knowledge has been invaluable, and I would happily recommend your service to anyone. Thanks again for everything and keep up the good work!
            %p Margaret & Peter R.

      .col-md-7.pt-40.pl-80.pb-80.about-us
        %h1.text-uppercase.mb-40.white We talk about us
        %img.img-responsive{:src => image_path('logos.png'), :srcset => " #{image_path('logos@2x.png')} 2x, #{image_path('logos.png')} 1x", :alt => ""}/

%section#Contact.pt-40.pb-80
  .container
    .row
      .col-md-12
        %h1.text-center.text-uppercase Contact us

        %img.img-responsive.m-a.mt-40.mb-80{:src => image_path('divider.png'), :srcset => " #{image_path('divider@2x.png')} 2x, #{image_path('divider.png')} 1x", :alt => ""}/

      .clearfix

      .col-md-4
        %img.img-responsive.m-a{:src => image_path('book.png'), :srcset => " #{image_path('book@2x.png')} 2x, #{image_path('book.png')} 1x", :alt => ""}/
      .col-md-8
        .row
          .col-xs-6
            .form-group
              %input.form-control{:type => "text", :placeholder => "First Name"}
          .col-xs-6
            .form-group
              %input.form-control{:type => "text", :placeholder => "Last Name"}

          .clearfix

          .col-xs-6.col-sm-4
            .form-group
              %input.form-control{:type => "text", :placeholder => "Telephone"}
          .col-xs-6.col-sm-4
            .form-group
              %input.form-control{:type => "text", :placeholder => "Your Budget"}
          .col-xs-12.col-sm-4
            .form-group
              %input.form-control{:type => "text", :placeholder => "Email"}

          .clearfix

          .col-xs-12
            .form-group
              %textarea.form-control{:placeholder => "Comment", :rows => "3"}

            .form-group
              %a.btn.btn-default.btn-st{:href => "/"}
                Send
                %img.ml-15{:src => image_path('long-arrow-right.svg'), :style => "margin-bottom: 3px;", :width => "25", :align => "middle", :alt => ""}
